# IDE & editor
.idea
.vscode

# dependency
node_modules

# test
coverage
.nyc_output
lighthouse
*.report.dom.html
.stryker-tmp
reports

# OS
.DS_Store

# lock
yarn.lock
package-lock.json

# CI
.github

# example
example

# others
index.html
src/
stryker.conf.json
tsconfig.json
.editorconfig
codecov.yaml
**/**/*.test.js
